services:

  app:
    build:
      target: builder
    volumes:
      - ./src:/var/www/html
    environment:
      APP_ENV: local
      APP_DEBUG: "true"

  nginx:
    ports:
      - "8080:80"

  mysql:
    ports:
      - "3306:3306"

  redis:
    ports:
      - "6379:6379"