services:

  app:
    build:
      target: production
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
    volumes:
      - storage_data:/var/www/html/storage
      - bootstrap_cache:/var/www/html/bootstrap/cache

  nginx:
    ports:
      - "80:80"

  mysql:
    expose:
      - "3306"

  redis:
    expose:
      - "6379"

volumes:
  mysql_data:
  storage_data:
  bootstrap_cache:
  redis_data: